/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require themes/metro/blue/jtable.min
 *= require jquery-ui-1.10.4
 */
.no-close .ui-dialog-titlebar-close {
  display: none;
}

.dataTable {
	font-family:Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: .8em;
	width: 100%;
	border-collapse:collapse;
	border: 1px solid lightgrey;
}

.dataTable tbody tr:hover {
	background-color: yellow;
	cursor: pointer;
}

.highlightRow {
	background-color: yellow;
	border:dotted 1px grey;
}

.normalRow {
	background-color: white;
	border-style: none;
}

button {
	height: 5%;
}
.dataTable thead:first-of-type tr {
	background-color: grey;
	color: lightgrey;
}

.dataTable tfoot tr {
	background-color: grey;
	color: lightgrey;
}
/*.dataTable td {
	padding: .3em;
}
.dataTable th {
	padding: .3em;
}*/
.dataTable thead tr th { text-align: left;}
