// Place all the styles related to the categories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#head {
  padding:.2em;
}
#content {
  padding: 1em;
}
// #content input {
  // height: 1em;
  // font-size: 1em; 
// }

#content #tbar {
  padding-top: 1em;
}

#tbar {
  padding:.2em;
}

#tbar button:first-of-type {
  padding-left: 0em;
}

#tbar button {
  height: 2em;
  width: 5em;
}